<div class="settings-container">
    <div class="section">
        <div class="section-title">DENOMINATIONS</div>
        <div class="spacer"></div>
        <app-chip-view [denominations]="poolData ? poolData.settings.denominations : []" [viewOnly]="true"></app-chip-view>
    </div>
    <div class="spacer"></div>
    <mat-divider></mat-divider>
    <div class="spacer"></div>
    <div class="section">
        <div class="section-title">BUY-INS</div>
        <div class="spacer"></div>
        <div class="buy-in-toggle">
            <mat-slide-toggle [formControl]="buyInEnabledFormControl">
                {{buyInEnabledFormControl.value ? 'ENABLED' : 'DISABLED'}}
            </mat-slide-toggle>
        </div>
        <div class="spacer"></div>
        <div class="limits-input-container">
            <mat-form-field>
                <mat-label>Minimum Buy-In</mat-label>
                <div class="money-prefix" matPrefix>&nbsp; $</div>
                <input
                    matInput
                    type="number"
                    placeholder="Minimum Buy-In"
                    [formControl]="minBuyInFormControl"
                    (blur)="onMinBuyInBlur()"
                    onkeydown="return event.keyCode !== 69 && event.keyCode !== 187 && event.keyCode !== 189"
                    min="0"
                >
            </mat-form-field>
        </div>
        <div class="limits-input-container">
            <mat-form-field>
                <mat-label>Maximum Buy-In</mat-label>
                <div class="money-prefix" matPrefix>&nbsp; $</div>
                <input
                    matInput
                    type="number"
                    placeholder="Maximum Buy-In"
                    [formControl]="maxBuyInFormControl"
                    (blur)="onMaxBuyInBlur()"
                    onkeydown="return event.keyCode !== 69 && event.keyCode !== 187 && event.keyCode !== 189"
                    min="0"
                >
            </mat-form-field>
        </div>
    </div>
    <div class="spacer"></div>
    <mat-divider></mat-divider>
    <div class="spacer"></div>
    <div class="section">
        <button
            class="save-button"
            mat-raised-button
            color="primary"
            (click)="saveSettings()"
            [disabled]="!settingsFormGroup.dirty"
        >
            SAVE
        </button>
    </div>
</div>
