@import '../../../mixins.scss';

.spacer {
    padding: 10px;
}

.section {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    text-align: center;
    font-size: large;
}

.settings-title-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

button {
    border-radius: 90px;
}
