.chip-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.chip-content {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.colored-chip {
    ion-fab-button {
        --border-style: solid;
        --border-width: 6px;
        --box-shadow: 0 0 0 1px #92949c
    }
}

.chip-content:hover {
    cursor: pointer;
}

.input-container {
    display: flex;
    justify-content: flex-start;
}

.chip-configuration-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .value-container {
        flex-grow: 1;
    }

    .color-container {
        display: flex;
        flex-direction: column;
        flex-grow: 2;

        ion-chip {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        ion-icon {
            margin: 0;
        }

        .circle {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 1px solid #92949c;
        }

        .spacer {
            padding: 2px;
        }
    }
}

.spacer {
    padding: 5px;
}
