.chip-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.chip-content {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.chip-content:hover {
    cursor: pointer;
}

.input-container {
    display: flex;
    justify-content: flex-start;
}

.spacer {
    padding: 5px;
}
