@import '../../../variables.scss';

.buy-in {
    color: $secondaryColor;
}

.cash-out {
    color: $primaryColor;
}

.mat-column-name {
    font-size: medium;
    text-align: center;
}

.mat-column-type {
    font-size: medium;
    text-align: center;
}

.mat-column-amount {
    font-size: medium;
    text-align: center;
}
