.empty-table-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-table {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-table-text {
    text-align: center;
    font-size: xx-large;
}

.spacer {
    padding: 10px;
}

.table-container {
    height: 140vw;
}

ion-list {
    overflow-y: scroll;
}
