.chip-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px;
}

.input-container {
    display: flex;
    justify-content: flex-start;
}

.spacer {
    padding: 5px;
}
