<div class="chip-container">
    <ng-container *ngFor="let denomination of denominations; let i = index; last as isLast">
        <div>
            <button mat-mini-fab [color]="selectedSlot === i ? 'primary' : 'disabled'" (click)="chipSelect(i)">
                ${{ denomination | thousandSuff }}
            </button>
        </div>
        <div *ngIf="!isLast" class="spacer"></div>
    </ng-container>
    <div class="spacer"></div>
</div>
<div class="spacer"></div>
<form class="input-container" [formGroup]="formGroup">
    <mat-form-field>
        <mat-label>Chip {{selectedSlot+1}}</mat-label>
        <div class="money-prefix" matPrefix>&nbsp; $</div>
        <input
            #denominationInput
            matInput
            type="number"
            placeholder="Denomination"
            [formControl]="chipDenominationControl"
            (keypress)="decimalFilter($event)"
            (blur)="onBlur()"
            onkeydown="return event.keyCode !== 69 && event.keyCode !== 187 && event.keyCode !== 189"
            min="0"
        >
    </mat-form-field>
</form>
<mat-error *ngIf="chipDenominationControl.errors?.['badMultipleError']">
    Must be a multiple of $1000
</mat-error>
<mat-error *ngIf="chipDenominationControl.errors?.['maxBuyInError']">
    Exceeds max buy-in
</mat-error>
