:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}

.search-message {
    padding-top: 10px;
}

.cancel-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 90px;
}

.device-row {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.spacer {
    padding: 10px;
}
