<ion-header>
  <div class="small-spacer"></div>
  <div class="row">
    <div class="small-spacer"></div>
    <ion-toolbar>
      <ion-title>My Profile</ion-title>
    </ion-toolbar>
    <div class="small-spacer"></div>
  </div>
</ion-header>
<ion-content>
  <div class="content">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle color="primary">DARK MODE</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-toggle [formControl]="darkModeFormControl"></ion-toggle>
        <div class="spacer"></div>
        <ion-text>Toggle to enable or disable dark mode</ion-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle color="primary">PROFILE INFORMATION</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="col">
          <ion-label position="stacked">First Name</ion-label>
          <div class="dynamic-spacer"></div>
          <ion-input
            mode="md"
            fill="outline"
            errorText="Required"
            [formControl]="firstNameFormControl"
          >
          </ion-input>
          <div class="spacer"></div>
          <ion-label position="stacked">Last Name</ion-label>
          <div class="dynamic-spacer"></div>
          <ion-input
            mode="md"
            fill="outline"
            errorText="Required"
            [formControl]="lastNameFormControl"
          >
          </ion-input>
          <div class="spacer"></div>
          <ion-label position="stacked">
            <div class="email-label">
              Email
              <div class="tiny-spacer"></div>
              <ion-icon
                *ngIf="!emailValidationInFlight else loading"
                [color]="formGroup.enabled && !emailFormControl.valid ? 'danger' : 'success'"
                [name]="formGroup.enabled && !emailFormControl.valid ? 'close-circle-outline' : 'checkmark-circle-outline'"
              >
              </ion-icon>
            </div>
          </ion-label>
          <div class="dynamic-spacer"></div>
          <ion-input
            mode="md"
            fill="outline"
            [errorText]="getEmailErrorMessage()"
            [formControl]="emailFormControl"
            (ionFocus)="onFocus()"
          >
          </ion-input>
          <div class="spacer"></div>
          <ion-button shape="round" expand="block" color="primary" (click)="enableEdit()" *ngIf="!canEditProfileInformation else edit">
            EDIT
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <div class="logout-container">
      <ion-button shape="round" expand="block" color="light" (click)="logout()" expand="block">LOGOUT</ion-button>
    </div>
  </div>
</ion-content>

<ng-template #loading>
  <ion-spinner name="circular"></ion-spinner>
</ng-template>

<ng-template #edit>
  <div class="col">
    <ion-button shape="round" expand="block" color="primary" [disabled]="!canSaveProfileInformation()" (click)="saveProfileInformation()">
      SAVE
    </ion-button>
    <ion-button shape="round" expand="block" color="light" (click)="cancelEdit()">
      CANCEL
    </ion-button>
  </div>
</ng-template>
