.spacer {
    padding: 10px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.list {
    flex-grow: 100;
}

.modal-buttons-container {
    flex-grow: 1;
}

ion-title {
    text-align: center;
}
