.vertical-spacer {
    padding: 5px;
}

.section-spacer {
    padding: 10px;
}

.form-container {
    padding: 20px;
}

ion-title {
    text-align: center;
}

.spacer {
    padding: 5px;
}

.centered-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tiny-spacer {
    padding: 2px;
}
