@import '../../../mixins.scss';

.cancel-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 90px;
}

.pool-row {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.spacer {
    padding: 10px;
}

.title {
    text-align: center;
}

dt,dd {
    display: inline-block;
}

dt {
    width: 65%;
    @include mobile {
        width: 55%
    }
}

dd {
    width: 30%;
    @include mobile {
        width: 42%
    }
}
