<div *ngIf="!withdrawalInProgress else withdrawing">
    <div mat-dialog-content>
        <h1 mat-dialog-title class="title">Buy in complete</h1>
        <div class="spacer"></div>
        <div class="message">You've successfully bought in for <b>&nbsp;${{withdrawalRequest.amount}}&nbsp;</b></div>
        <div class="spacer"></div>
        <div class="buttons-container">
            <button
            mat-raised-button
            color="primary"
            (click)="withdrawalConfirmed()"
            >
                DISMISS
            </button>
        </div>
    </div>
</div>

<ng-template #withdrawing>
    <div mat-dialog-content>
        <h1 mat-dialog-title class="title">Dispensing chips</h1>
        <div class="spacer"></div>
        <div class="loading-container">
            <mat-spinner
            [color]="spinnerColor"
            >
            </mat-spinner>
        </div>
        <div class="spacer"></div>
        <div class="message">
            Your PokerFlow device is now dispensing your chips
        </div>
    </div>
</ng-template>
