button {
    border-radius: 90px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.message {
    display: flex;
    text-align: center;
    justify-content: center;
}

.spacer {
    padding: 10px;
}

.title {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
}
