<ion-content [scrollY]="false">
  <div class="content">
    <h3><ion-text color="warning"><b>Transaction cancelled</b></ion-text></h3>
    <ion-text class="description">
      Transaction was cancelled before it could be completed. This transaction won't be processed or recorded.
    </ion-text>
    <div class="spacer"></div>
    <ion-button
        color="primary"
        (click)="dismiss()"
        shape="round"
        expand="block"
    >
        DISMISS
    </ion-button>
  </div>
</ion-content>
