<div mat-dialog-content>
    <h1 mat-dialog-title class="title">Provide password to join {{data.poolName}}</h1>
    <div class="spacer"></div>
    <div class="input-container">
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="passwordFormControl">
            <mat-error *ngIf="passwordFormControl.errors?.['required']">
                Password is required
            </mat-error>
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'hidePassword password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <div *ngIf="data.retry">
            <div class="spacer"></div>
            <mat-error>
                Pool password was invalid. Please try again.
            </mat-error>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="buttons-container">
        <button
        mat-raised-button
        (click)="cancel()"
        >
            CANCEL
        </button>
        <div class="spacer"></div>
        <button
        mat-raised-button
        color="accent"
        [disabled]="passwordFormControl.errors"
        (click)="confirmPassword()"
        >
            JOIN
        </button>
    </div>
</div>
