files:
  "/etc/nginx/conf.d/elasticbeanstalk/00_prod_nginx.conf":
    content: |
      listen 80;
      server_name localhost;

      location / {
        root /var/app/current/dist/pokerflow;
        index index.html;
        try_files $uri =404;
      }

container_commands:
  01_reload_nginx:
    command: "systemctl restart nginx"
