.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.message {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.title {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
}

button {
    border-radius: 90px;
}

.spacer {
    padding: 10px;
}

.done-text {
    color: #E91E63;
}
