<ion-footer>
    <div class="modal-buttons-container">
        <div class="range-container">
            <ion-range 
                [min]="0"
                [max]="getMaximumChipCount()"
                [step]="1"
                (ionInput)="onSliderChange($event)"
                [formControl]="denominationCountControl"
            >
            </ion-range>
            <ion-text color="medium">Slide to adjust owned chips</ion-text>
        </div>
        <ion-button
            class="deposit-button"
            color="primary"
            (click)="completeDeposit()"
            shape="round"
            expand="block"
        >
            DONE
        </ion-button>
        <ion-button
            class="cancel-button"
            color="light"
            (click)="cancelDeposit()"
            shape="round"
            expand="block"
        >
            CANCEL
        </ion-button>
    </div>
</ion-footer>

<ion-content>
    <div class="content">
        <div class="large-spacer"></div>
        <div class="large-spacer"></div>
        <div class="total-cash-out-container">
            <ion-text color="medium">TOTAL CASH-OUT</ion-text>
            <ion-text class="cash-out-value" color="primary"><b>{{getDepositTotal()}}</b></ion-text>
        </div>
        <div class="spacer"></div>
        <div class="denomination-changer">
            <ion-icon 
                size="large" 
                name="arrow-back-outline"
                (click)="lastDenomination()"
                *ngIf="currentDenominationIndex !== 0 else emptyIcon"
            >
            </ion-icon>
            <div class="chip-content">
                <ion-fab-button size="large" color="tertiary">
                    ${{ displayedDenomination | thousandSuff }}
                </ion-fab-button>
                <ion-text color="primary"><h2><b>{{denominationCounts[currentDenominationIndex]}}</b></h2></ion-text>
            </div>
            <ion-icon 
                size="large"
                name="arrow-forward-outline"
                (click)="nextDenomination()"
                *ngIf="currentDenominationIndex !== denominations.length-1 else emptyIcon"
            >
            </ion-icon>
        </div>
        <div class="spacer"></div>
        <app-chip-view (chipSelect)="onChipSelect($event)" [denominations]="denominations" [assignments]="denominationCounts"></app-chip-view>
    </div>
</ion-content>

<ng-template #emptyIcon>
    <ion-icon size="large"></ion-icon>
</ng-template>
