<div mat-dialog-content>
    <h1 mat-dialog-title class="title">Deposit your chips now</h1>
    <div class="loading-container">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <div class="spacer"></div>
        <app-chip-view [denominations]="denominations" [assignments]="data.device ? data.device.depositRequestStatus : []"></app-chip-view>
    </div>
    <div class="spacer"></div>
    <div class="message">
        <p>Press <b class="done-text">DONE</b> when all chips are deposited.</p>
    </div>
    <div class="spacer"></div>
    <div class="buttons-container">
        <button
        class="cancel-button"
        mat-raised-button
        (click)="cancelDeposit()"
        >
            CANCEL
        </button>
        <div class="spacer"></div>
        <button
        class="cancel-button"
        mat-raised-button
        color="accent"
        (click)="completeDeposit()"
        >
            DONE
        </button>
    </div>
</div>
