<ion-header>
    <ion-toolbar>
      <ion-title>BUY-IN</ion-title>
    </ion-toolbar>
</ion-header>
<ion-footer>
    <div class="modal-buttons-container">
        <ion-button
            color="primary"
            (click)="confirmBuyIn()"
            [disabled]="form.invalid || !device?.inventory"
            shape="round"
            expand="block"
        >
            BUY-IN
        </ion-button>
        <ion-button
            color="light"
            (click)="cancelBuyIn()"
            shape="round"
            expand="block"
        >
            CANCEL
        </ion-button>
    </div>
</ion-footer>
<ion-content [scrollY]="false">
    <div class="content">
        <form [formGroup]="form">
            <ion-input
                label="Buy-In"
                labelPlacement="stacked"
                placeholder="Enter a buy-in value"
                type="number"
                [min]="minBuyIn"
                [formControl]="buyInFormControl"
                (focusout)="onBuyInFocusOut()"
                (keypress)="decimalFilter($event)"
                (keydown)="resetAssignments()"
            >
            </ion-input>
            <ion-text color="danger" *ngIf="buyInFormControl.errors?.['min'] else maxBuyInError">
                Minimum <b>${{minBuyIn.toFixed(2)}}</b>
            </ion-text>
            <ng-template #maxBuyInError>
                <ion-text color="danger" *ngIf="buyInFormControl.errors?.['max'] else insufficientInventoryError">
                    Maximum <b>${{maxBuyIn.toFixed(2)}}</b>
                </ion-text>
            </ng-template>
            <ng-template #insufficientInventoryError>
                <ion-text color="danger" *ngIf="buyInFormControl.errors?.['insufficientInventory']">
                    Incompatible with inventory.
                </ion-text>
            </ng-template>
        </form>
        <div class="spacer"></div>
        <app-chip-view [denominations]="denominations" [assignments]="assignments"></app-chip-view>
    </div>
</ion-content>
