<ion-content [scrollY]="false">
  <div class="content">
    <ion-text color="primary"><h1><b>PokerFlow</b></h1></ion-text>
    <div class="spacer"></div>
    <ion-segment #segmentBar [scrollable]="true" value="login">
      <ion-segment-button value="login" (click)="updateForm('login')">
        LOGIN
      </ion-segment-button>
      <ion-segment-button value="signup" (click)="updateForm('signup')">
        SIGNUP
      </ion-segment-button>
    </ion-segment>
    <div class="spacer"></div>
    <ion-content><app-login-form *ngIf="currentForm === 'login' else signup"></app-login-form></ion-content>
  </div>
</ion-content>

<ng-template #signup><app-signup-form></app-signup-form></ng-template>
