.chip-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chip-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.spacer {
    padding: 5px;
}
