<ion-footer>
  <div *ngIf="!poolData?.settings?.expired else expiredMessage" class="main-buttons-container">
    <ion-button
        shape="round"
        expand="block"
        (click)="buyIn()"
        [disabled]="disabled || !poolData?.settings?.buy_in_enabled"
        color="primary"
    >
        BUY-IN
    </ion-button>
    <ion-button
        shape="round"
        expand="block"
        (click)="cashOut()"
        [disabled]="disabled || !poolData?.available_pot"
        color="tertiary"
    >
        CASH-OUT
    </ion-button>
  </div>
</ion-footer>
<ion-content [scrollY]="false">
  <div class="content">
    <ion-segment #segmentBar [scrollable]="true" value="pot">
      <ion-segment-button [value]="POT" (click)="onPoolViewChange(POT)">
        <ion-icon name="pie-chart-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button [value]="TRANSACTIONS" (click)="onPoolViewChange(TRANSACTIONS)">
        <ion-icon name="swap-horizontal-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button [value]="SHARE" (click)="onPoolViewChange(SHARE)" *ngIf="!poolData?.settings?.expired">
        <ion-icon name="share-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button [value]="SETTINGS" (click)="onPoolViewChange(SETTINGS)" *ngIf="!poolData?.settings?.expired">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
    <ion-content [scrollY]="false">
      <app-pool-chart-container *ngIf="currentPoolView === POT"></app-pool-chart-container>
      <app-pool-activity-container *ngIf="currentPoolView === TRANSACTIONS"></app-pool-activity-container>
      <app-share-pool *ngIf="currentPoolView === SHARE"></app-share-pool>
      <app-pool-settings *ngIf="currentPoolView === SETTINGS"></app-pool-settings>
    </ion-content>
  </div>
</ion-content>

<ng-template #expiredMessage>
  <div class="main-buttons-container centered">
    <ion-text color="primary"><b>GAME EXPIRED</b></ion-text>
    <div class="spacer"></div>
    <ion-text color="medium">The available pot has been fully withdrawn</ion-text>
    <div class="spacer"></div>
  </div>
</ng-template>
