<div class="dialog-container">
    <h1 mat-dialog-title class="title">Create a new game</h1>
    <div mat-dialog-content>
        <mat-stepper orientation="vertical" #stepper>
            <mat-step state completed="false" [hasError]="hasError" errorMessage="Pool name is required.">
              <ng-template matStepLabel>Name your game</ng-template>
              <div class="vertical-spacer"></div>
                <mat-form-field appearance="fill">
                    <mat-label>Pool Name</mat-label>
                    <input matInput (input)="onPoolNameInput($event)" [(ngModel)]="poolName">
                </mat-form-field>
            </mat-step>
            <mat-step state completed="false">
                <ng-template matStepLabel>Chip Values</ng-template>
                <div class="vertical-spacer"></div>
                Choose the values for each chip
            </mat-step>
            <mat-step state completed="false">
                <ng-template matStepLabel>Buy-In Limits</ng-template>
                <div class="vertical-spacer"></div>
                Choose the minimum and maximum buy-in values for the game
                <div class="vertical-spacer"></div>
                <div class="limits-input-container">
                    <mat-form-field>
                        <mat-label>Min Buy-In</mat-label>
                        <div class="money-prefix" matPrefix>&nbsp; $</div>
                        <input
                            matInput
                            [(ngModel)]="poolSettings.min_buy_in"
                            type="number"
                            placeholder="Min Buy-In"
                            onkeydown="return event.keyCode !== 69 && event.keyCode !== 187 && event.keyCode !== 189"
                            min="0"
                        >
                    </mat-form-field>
                </div>
                <div class="limits-input-container">
                    <mat-form-field>
                        <mat-label>Max Buy-In</mat-label>
                        <div class="money-prefix" matPrefix>&nbsp; $</div>
                        <input
                            matInput
                            [(ngModel)]="poolSettings.max_buy_in"
                            type="number"
                            placeholder="Max Buy-In"
                            onkeydown="return event.keyCode !== 69 && event.keyCode !== 187 && event.keyCode !== 189"
                            min="0"
                        >
                    </mat-form-field>
                </div>
            </mat-step>
            <mat-step state completed="false">
              <ng-template matStepLabel>Entry Password</ng-template>
              <div class="vertical-spacer"></div>
              Set an optional password for joining the game
              <div class="vertical-spacer"></div>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput [(ngModel)]="poolSettings.password">
                </mat-form-field>
            </mat-step>
          </mat-stepper>
    </div>
    <div mat-dialog-actions>
        <button
            class="cancel-button"
            mat-raised-button
            (click)="cancel()"
        >
            CANCEL
        </button>
        <div class="horizontal-spacer"></div>
        <button
            class="create-button"
            mat-raised-button
            color="primary"
            (click)="createGame()"
            [disabled]="hasError"
        >
            CREATE GAME
        </button>
    </div>
</div>
