.dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

button {
    border-radius: 90px;
}

.title {
    text-align: center;
}

.spacer {
    padding: 10px;
}

.buy-in-input-container {
    padding: 10px;
}

.pool-name-container {
    padding: 10px;
}

.password-container {
    padding: 10px;
}
