<ion-header>
    <ion-toolbar>
      <ion-title>Create a game</ion-title>
    </ion-toolbar>
</ion-header>
<ion-footer>
    <div class="modal-buttons-container">
        <ion-button
            class="create-button"
            color="primary"
            (click)="createGame()"
            [disabled]="!mainFormGroup.valid || !deviceStatus?.id"
            shape="round"
            expand="block"
        >
            CREATE GAME
        </ion-button>
        <ion-button
            class="cancel-button"
            color="light"
            (click)="cancel()"
            shape="round"
            expand="block"
        >
            CANCEL
        </ion-button>
    </div>
</ion-footer>
<ion-content>
    <div class="form-container">
        <ion-text color="primary"><h3>Name Your Pool</h3></ion-text>
        <ion-input 
            label="Pool Name"
            labelPlacement="stacked"
            [formControl]="poolNameFormControl"
            errorText="Required"
        >
        </ion-input>
        <div class="section-spacer"></div>
        <ion-text color="primary"><h3>Chip Values</h3></ion-text>
        <div class="vertical-spacer"></div>
        <app-chip-select [(denominations)]="poolSettings.denominations" [maxBuyIn]="poolSettings.max_buy_in"></app-chip-select>
        <div class="section-spacer"></div>
        <ion-text color="primary"><h3>Buy-In Values</h3></ion-text>
        <div class="vertical-spacer"></div>
        <ion-input
            label="Minimum Buy-In"
            labelPlacement="stacked"
            type="number"
            [min]="0"
            [formControl]="minBuyInFormControl"
            (focusout)="onMinBuyInFocusOut()"
            (keypress)="decimalFilter($event)"
            errorText="Minimum and maximum values conflict"
        >
        </ion-input>
        <ion-input
            label="Maximum Buy-In"
            labelPlacement="stacked"
            type="number"
            [min]="0"
            [formControl]="maxBuyInFormControl"
            (focusout)="onMaxBuyInFocusOut()"
            (keypress)="decimalFilter($event)"
            errorText="Minimum and maximum values conflict"
        >
        </ion-input>
        <div class="section-spacer"></div>
        <ion-text color="primary"><h3>Optional Password</h3></ion-text>
        <div class="vertical-spacer"></div>
        <ion-input 
            label="Password" 
            type="password"
            [formControl]="passwordFormControl"
            errorText="Password is required"
        >
        </ion-input>
        </div>
</ion-content>
