<div [ngClass]="{'table-container': dataSource.length > 0, 'empty-table-container' : dataSource.length === 0 }">
    <ion-list *ngIf="dataSource.length > 0 else emptyTable" [inset]="true">
        <ion-item *ngFor="let pool of dataSource; let index" (click)="openGame(pool.id.toString())">
            <ion-icon name="people-outline" color="primary"></ion-icon>
            <div class="spacer"></div>
            <ion-text>
                <br/>
                <b>{{ pool.name }}</b>
                <br/>
                <sub>
                    {{pool.contributors.length}} members | ${{pool.available_pot.toFixed(2)}} pot
                </sub>
                <br/>
                <br/>

            </ion-text>
        </ion-item>
    </ion-list>
</div>

<ng-template #emptyTable class="empty-table">
    <div *ngIf="!history else emptyHistoryTableMessage" class="empty-table-text">
        No games found. 
        <br/><br/>
        <ion-text color="primary" (click)="createGame()">
            <b>Create</b>
        </ion-text> or 
        <ion-text color="tertiary" (click)="joinGame()">
            <b>join</b>
        </ion-text> 
        <br/>
        a game to get started. 
    </div>
</ng-template>

<ng-template #emptyHistoryTableMessage class="empty-table">
    <div class="empty-table-text">
        No past games found.
    </div>
</ng-template>
