<div class="table-container">
    <ion-content *ngIf="dataSource.length > 0 else emptyTable">
        <ion-list>
            <ion-item *ngFor="let pool of dataSource; let index" (click)="openGame(pool)">
                <ion-icon name="people-outline" color="primary"></ion-icon>
                <div class="spacer"></div>
                <ion-text>
                    <br/>
                    <b>{{ pool.name }}</b>
                    <br/>
                    <sub>
                        {{pool.contributors.length}} contributors | ${{pool.available_pot.toFixed(2)}} pot
                    </sub>
                    <br/>
                    <br/>
                </ion-text>
            </ion-item>
        </ion-list>
    </ion-content>
</div>

<ng-template #emptyTable>
    <div *ngIf="!history else emptyHistoryTableMessage" class="empty-message-container">
        <div class="empty-message">
            No games found. 
            <br/><br/>
            <ion-text color="primary" (click)="createGame()">
                <b>Create</b>
            </ion-text> or 
            <ion-text color="tertiary" (click)="joinGame()">
                <b>join</b>
            </ion-text> 
            <br/>
            a game to get started.
        </div>
    </div>
</ng-template>

<ng-template #emptyHistoryTableMessage>
    <div class="empty-message-container">
        <div class="empty-message">
            No past games found.
        </div>
    </div>
</ng-template>
