@import '../../../mixins.scss';

button {
    border-radius: 90px;
}

.spacer {
    padding: 10px;
}

.pool-name-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mat-column-join {
    font-size: large;
    text-align: center;
}

.mat-column-pool-name {
    font-size: large;
    text-align: center;
}

.mat-column-created {
    font-size: large;
    text-align: center;
}

.mat-column-pot {
    font-size: large;
    text-align: center;
}

.mat-column-members {
    font-size: large;
    text-align: center;
}

mat-paginator {
    display: flex;
    justify-content: center;
} 
