<ion-content [scrollY]="false">
    <div class="content" *ngIf="poolTotal else loading">
        <div class="dynamic-spacer"></div>
        <div class="chart-metadata-container">
            <div class="total">
                <ion-text color="medium">TOTAL</ion-text>
                <ion-text class="chart-metadata-value" color="primary"><b>{{getTotalPotRepresentation()}}</b></ion-text>
            </div>
            <div class="available">
                <ion-text color="medium">AVAILABLE</ion-text>
                <ion-text class="chart-metadata-value" color="success"><b>{{getAvailableCashoutRepresentation()}}</b></ion-text>
            </div>
        </div>
        <div class="chart">
            <app-pool-donut-chart [poolData]="poolData"></app-pool-donut-chart>
        </div>
    </div>
</ion-content>

<ng-template #loading>
    <div *ngIf="!poolData else emptyTable">
        <app-loading-spinner></app-loading-spinner>
    </div>
</ng-template>

<ng-template #emptyTable>
    <div class="content">
        <div class="empty-table-text">
            No pool activity found.
            <br/><br/>
            <span class="buy-in-text">
                <ion-text color="primary"><b>BUY-IN</b></ion-text>
            </span>
            <br/>
            to get started. 
        </div>
    </div>
</ng-template>
