<div class="input-container">
    <ion-input 
        label="Password"
        type="password"
        [formControl]="passwordFormControl"
    >
    </ion-input>
    <ion-text color="danger" *ngIf="retry">
        Invalid password. Please try again.
    </ion-text>
    <div class="modal-buttons-container">
        <ion-button
            class="join-button"
            color="primary"
            (click)="confirmPassword()"
            [disabled]="passwordFormControl.errors"
            shape="round"
            expand="block"
        >
            JOIN
        </ion-button>
        <ion-button
            class="cancel-button"
            color="light"
            (click)="cancel()"
            shape="round"
            expand="block"
        >
            CANCEL
        </ion-button>
    </div>
</div>
