<div class="container">
    <div *ngIf="poolTotal else loading">
        <div class="spacer"></div>
        <app-pool-donut-chart [poolData]="poolData"></app-pool-donut-chart>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-text>
                        <h1>Total Pot<br/><ion-text color="primary">${{poolTotal}}</ion-text></h1>
                    </ion-text>
                </ion-col>
                <ion-col>
                    <ion-text>
                        <h1>Available<br/><ion-text class="availablePotText">${{poolData ? poolData.available_pot : 0}}</ion-text></h1>
                    </ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</div>

<ng-template #loading>
    <div *ngIf="!poolData else emptyTable" class="container loading">
        <ion-spinner color="primary" name="circular"></ion-spinner>
    </div>
</ng-template>

<ng-template #emptyTable class="empty-table">
    <div class="empty-table-text">
        No pool activity found.
        <br/><br/>
        <span class="buy-in-text">
            <ion-text color="primary"><b>BUY-IN</b></ion-text>
        </span>
        <br/>
        to get started. 
    </div>
</ng-template>
