<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content refreshingSpinner="circular"></ion-refresher-content>
    </ion-refresher>
    <div class="content">
        <div *ngIf="poolTotal else loading">
            <div class="chart">
                <app-pool-donut-chart [poolData]="poolData"></app-pool-donut-chart>
            </div>
        </div>
    </div>
</ion-content>

<ng-template #loading>
    <div *ngIf="!poolData else emptyTable">
        <app-loading-spinner (requestRetry)="handleRefresh()"></app-loading-spinner>
    </div>
</ng-template>

<ng-template #emptyTable>
    <div class="empty-table-text">
        No pool activity found.
        <br/><br/>
        <span class="buy-in-text">
            <ion-text color="primary"><b>BUY-IN</b></ion-text>
        </span>
        <br/>
        to get started. 
    </div>
</ng-template>
