ion-spinner {
    width: calc(min(25vw, 25vh));
    height: calc(min(25vw, 25vh));
}

.content {
    width: 100%;
    height: 100%;
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.retry-container {
    display: flex;
    flex-direction: column;
}

.spacer {
    padding: 10px;
}

.small-spacer {
    padding: 5px;
}
