<div class="content" *ngIf="pools else loading">
    <app-user-pools-table 
        [dataSource]="pools"
        [noNewData]="noNewData"
        [registerUser]="registerUser" 
        (onPoolSelect)="poolSelect($event)"
        (getMoreData)="onGetMoreData($event)"
        (refreshData)="onRefreshData($event)"
    >
    </app-user-pools-table>
</div>

<ng-template #loading>
    <div class="content">
        <app-loading-spinner (requestRetry)="onRefreshData()"></app-loading-spinner>
    </div>
</ng-template>
