.buy-in-value {
    font-size: 300%;
}

.confirmed-text {
    font-size: 150%;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.spacer {
    padding: 10px;
}

.small-spacer {
    padding: 5px;
}

ion-title {
    text-align: center;
}

.range-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.buy-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
