<ion-content [scrollY]="false">
    <div class="main-button-container">
        <ion-button
            id="open-create-game-modal"
            shape="round"
            [disabled]="disabled"
            color="primary"
        >
            CREATE GAME
        </ion-button>
        <ion-modal #createGameModal trigger="open-create-game-modal">
            <ng-template>
                <ion-content>
                    <app-create-game-modal (modalResult)="onCreateGameModalResult($event)"></app-create-game-modal>
                </ion-content>
            </ng-template>
        </ion-modal>
        <div class="spacer">or</div>
        <ion-button
            shape="round"
            [disabled]="disabled"
            color="tertiary"
        >
            JOIN GAME
        </ion-button>
    </div>

    <ion-content [scrollY]="false">
        <ion-tabs>

            <ion-tab-bar slot="top">
              <ion-tab-button tab="active-games">
                <ion-label>ACTIVE GAMES</ion-label>
              </ion-tab-button>
          
              <ion-tab-button tab="past-games">
                <ion-label>PAST GAMES</ion-label>
              </ion-tab-button>
            </ion-tab-bar>
          
        </ion-tabs>
    </ion-content>
    
</ion-content>
