<ion-footer>
    <div class="main-buttons-container">
        <ion-button
            shape="round"
            expand="block"
            [disabled]="disabled"
            color="primary"
            (click)="createGame()"
        >
            CREATE GAME
        </ion-button>
        <ion-button
            id="join-game"
            shape="round"
            expand="block"
            [disabled]="disabled"
            color="tertiary"
            (click)="joinNewGame()"
        >
            JOIN GAME
        </ion-button>
    </div>
  </ion-footer>
<ion-content [scrollY]="false">
    <div class="content">
        <ion-segment #segmentBar [scrollable]="true" value="active">
            <ion-segment-button value="active" (click)="updateList('active')">
                ACTIVE GAMES
            </ion-segment-button>
            <ion-segment-button value="past" (click)="updateList('past')">
                PAST GAMES
            </ion-segment-button>
        </ion-segment>
        <ion-content [scrollY]="false">
            <app-games-list *ngIf="currentList == 'active' else pastGames" [activeGames]="true"></app-games-list>
        </ion-content>
    </div>
</ion-content>

<ng-template #pastGames>
    <app-games-list [activeGames]="false"></app-games-list>
</ng-template>
